.wallet_header {
    background-color: #333;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    text-align: center;
  }
  .wallet_header p {
    color: #eb5429;
    font-weight: 800;
    font-size: 30px;
  }
  .wallet_header span {
    color: #dad5d4;
    font-weight: 200;
    font-size: 24px;
  }
  .connect_wallet_section {
    color: white;
    background-color: #16131b;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }
  .connect_wallet_section p {
    font-size: 28px;
    padding-bottom: 18px;
  }